.edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  transition: opacity 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.pencil-icon {
  width: 24px;
  height: 24px;
}

.edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .pencil-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 320px) {
  .pencil-icon {
    width: 18px;
    height: 18px;
  }
}
