.header {
  height: 74px;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
}
.header__hidden-h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.header__logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 320px) {
  .header {
   margin-top: 30px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 0;
  }

  .header__logo {
  width: 126px;
  height: 24px;
}
}